<%
var pageId = page.path;
var pageUrl = page.permalink;
var pageTitle = page.title;
%>

<section id="comments">
	<div id="container"></div>
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	 <style type="text/css">
        .gitment-editor-tabs {
            height: 42px;
            line-height: 42px;
			background-color: #fff;
			box-shadow: none;
			border-bottom: solid 1px #CFD8DC;
        }
		
		.gitment-editor-body {
			background-color: #fff;
		}
    </style>
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script>
	var gitment = new Gitment({
	  id: '<%= page.date %>', // 可选。默认为 location.href
	  owner: 'meishadevs',
	  repo: 'meishadevs.github.io',//存储评论的 repo
	  oauth: {
		client_id: 'c41063c993965472837d',
		client_secret: '4bb0498ec017c6d1c0b3c25f89302ebd3a3f329d',
	  },
	})
	gitment.render('container')
	</script>
</section>