<%
var pageId = page.path;
var pageUrl = page.permalink;
var pageTitle = page.title;
%>

<section id="comments">
	<div class="card">
        <div class="card-content">
            <div class="ds-thread" data-thread-key="<%= pageId %>" data-title="<%= pageTitle %>" data-url="<%= pageUrl %>"></div>
			<!-- UY BEGIN -->
			<div id="uyan_frame"></div>
			<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2132071"></script>
			<!-- UY END -->	
        </div>
    </div>
</section>